body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea, select {
  display: block;
  margin: 0 auto;

}

img {
  width: 300px;
}

main {
  display: flex;
}

h1 {
  text-align: center;
}

/* * {
  border: 1px black solid;
} */

section {
  flex-grow: 1;
  border: 1px black solid;
  text-align: center;
}